{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "arrow-body-style": "off",
    "no-plusplus": "off",
    "arrow-parens": "off",
    "no-param-reassign": "off"
  }
}
