@import './_common';

main {
  padding: 8px;

  @media screen and (min-width: 840px) {
    margin: 32px auto 0 auto;
    max-width: 1024px;
  }
}

header {
  display: flex;
  height: 56px;

  > h1,
  > h2 {
    margin: 0;
    font-size: 18px;

    > a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  > h2 {
    margin-left: 16px;
  }

  > nav {
    display: none;
  }
}

#grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  margin-bottom: 18px;
  width: 100%;
  height: 256px;
  background-color: #ffffff;
  background-size: 100%;
  background-position: center center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  &:nth-of-type(4n+0) {
    margin-right: 0;
  }

  @media screen and (min-width: 840px) {
    margin-bottom: 32px;
    margin-right: 32px;
    width: calc(25% - 24px);
  }

  > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    text-decoration: none;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.9);
    transform: translate(-50%, -50%);
  }
}